@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter" sans-serif;
  outline: none;
}

body {
  background-color: white;
  @apply p-4;
}

h1 {
  @apply text-3xl font-bold;
}

span {
  @apply text-blue;
}

hr {
  @apply opacity-25;
}

input {
  border: 1px solid rgba(0, 0, 0, 0.336);
  width: 100%;
  @apply rounded-md p-2 pl-2 text-sm;
}