@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter" sans-serif;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: white;
  overflow-x: hidden;
  @apply p-4;
}

h1 {
  @apply text-3xl font-bold;
}

span {
  @apply text-blue;
}

hr {
  @apply opacity-25;
}

input {
  border: 1px solid rgba(0, 0, 0, 0.336);
  width: 100%;
  @apply rounded-md p-2 pl-2 text-sm;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.selected {
  @apply text-white border-blue bg-blue;
}