@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter" sans-serif;
  outline: none;
}

body {
  background-color: white;
  @apply p-4;
}

h1 {
  @apply text-3xl font-bold;
}

span {
  @apply text-blue;
}

hr {
  @apply opacity-25;
}